.product_list {
  /* height: 26rem; */
  border: solid 5px blueviolet;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  /* overflow-y: scroll; */
}

.list {
  font-size: 1.5rem;
  margin-bottom: 5%;
  border-bottom: 2px solid black;
  /* padding: 0.5rem; */
  padding-bottom: 1rem;
}
.wrapper {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.offerbtn{
    background-color: #4f0273;
    border: 1px solid #40005d;
    border-radius: 12px;
    text-align: center;
    width: 10.5rem;
    margin-bottom: 1rem;
    color: #fff;
    cursor: pointer;
    font: inherit;
}

.offerbtn:hover{
    background-color: #41025f;
}